<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品マスター</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/week3.css">

</head>

<body>

  <!-- 產品列表介面 -->
  <div id="app" class="container mt-3">

    <div class="text-right mt-3">
      <button type="button" class="btn" @click="openModal('new')">商品登録</button>
    </div>

    <table class="table mt-3">
      <thead class="thead">
        <tr class="text-center">
          <th>カテゴリー</th>
          <th>商品名</th>
          <th>定価</th>
          <th>販売単価</th>
          <th>種別</th>
          <th>変更</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item) in products" :key="item.id" class="text-center">
          <td>{{ item.category }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.origin_price }}</td>
          <td>{{ item.price }}</td>
          <td>
            <span v-if="item.enabled" class="text-info">公開</span>
            <span v-else>非公開</span>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn1 btn-sm" @click="openModal('edit', item)">変更</button>
              <button type="button" class="btn2 btn-sm" @click="openModal('delete', item)">削除</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  

  <!-- 新增產品介面 -->

  <div id="productModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">商品マスター</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-grou">
                <label for="imageUrl">画像アドレス</label>
                <input type="text" id="imageUrl" v-model="tempProduct.imageUrl" class="form-control"
                  placeholder="画像アドレスを入力してください。">
              </div>
              <img class="img-fluid" :src="tempProduct.imageUrl" alt="">
            </div>

            <div class="col-sm-8">
              <div class="form-group">
                <label for="title">商品名</label>
                <input id="title" v-model="tempProduct.title" type="text" class="form-control" placeholder="商品名を入力してください。">
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="category">カテゴリー</label>
                  <input type="text" id="category" v-model="tempProduct.category" class="form-control"
                    placeholder="カテゴリーを入力してください。">
                </div>

                <div class="form-group col-md-6">
                  <label for="unit">単位
                  </label>
                  <input id="unit" v-model="tempProduct.unit" type="unit" class="form-control" placeholder="単位を入力してください。">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="origin_price">定価</label>
                  <input id="origin_price" v-model="tempProduct.origin_price" type="number" class="form-control"
                    placeholder="定価を入力してください。">
                </div>

                <div class="form-group col-md-6">
                  <label for="price">販売単価</label>
                  <input id="price" v-model="tempProduct.price" type="number" class="form-control" placeholder="販売単価を入力してください。">
                </div>
              </div>

              <div class="form-group mt-4">
                <label for="description">商品説明</label>
                <textarea id="description" v-model="tempProduct.description" type="text" class="form-control"
                  placeholder="">
              </textarea>
              </div>
              <div class="form-group">
                <label for="content">商品内容</label>
                <textarea id="content" v-model="tempProduct.content" type="text" class="form-control"
                  placeholder="">
              </textarea>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" id="enabled" v-model="tempProduct.enabled" class="form-check-input"
                    :true-value="1" :false-value="0">
                  <label for="enabled" class="form-check-label">公開</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <button type="button" class="btn btn-secondary" @click="updateProduct">登録する</button>
        </div>
      </div>
    </div>
  </div>

  <!--刪除商品前的確認視窗-->
  <div id="delProductModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content border-0">
        <div class="modal-header text-white">
          <h5 id="exampleModalLabel" class="modal-title"><span>商品削除</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <strong class="text-danger"> {{ tempProduct.title }}</strong> 
          <span class="deleteText0">を削除してもよろしいですか？</span>
          <p class="deleteText">（商品は完全に削除されます）</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal">
            キャンセル
          </button>
          <button type="button" class="btn" @click="delProduct">
            削除する
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>





    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/week3.js"></script>
</body>

</html>